<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    verbose="true"
    strict="true"
    checkForUnintentionallyCoveredCode="true"
>
  <testsuites>
      <testsuite name="Application">
          <directory>./tests</directory>
      </testsuite>
  </testsuites>
  <logging>
       <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
       <log type="coverage-html" target="docs" showUncoveredFiles="true"/>
       <log type="json" target="./phpunit-logfile.json"/>
  </logging>
  <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
                <directory>./tests</directory>
                <file>./example.php</file>
            </exclude>
        </whitelist>
  </filter>
</phpunit>